{
 "Statement": [
   {
     "Action": ["*" ],
     "Effect": "Limit",
     "Resource": "*",
     "Condition": { "NumericLessThanEquals":{"s3:quota-buckettotalsize": "45"}}
   }
 ]
}


